* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

html {
	box-sizing: border-box;
	background: aliceblue;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: scroll;
}

input {
    display: none;
}

.bayan-container {
    width: 90%;

    padding: 5% 0;

    display: flex;
    flex-direction: column;

    font-size: 24px;
    font-weight: 200;

    font-family: 'helvetica neue';
}

.segment-container {
    width: 100%;
    height: 42px;
    overflow: hidden;

    padding: 8px 0;

    border-bottom: 1px solid #081623;

    transition: all 0.5s;
}

.segment-container:last-child {
    border-bottom: none;
}

.header-container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'Neucha';
}

.text-wrapper {
    width: calc(100% - 34px);
}

.icon-wrapper {
    width: 34px;
    height: 34px;

    background: center / cover url("./assets/icons/closeDefault.svg");

    transform: rotate(45deg);
    transition: all 0.5s;
}

input:checked + .segment-container {
    width: 100%;
    height: 430px;
}

input:checked+.segment-container .icon-wrapper {
    transform: rotate(0);
}

label:active {
    opacity: 0.75;
}

.image-wrapper {
    width: 100%;
    height: 382px;

    display: block;
}

/* .image-wrapper:active {
    opacity: 0.75;
} */

.image-wrapper1 {
    background: center / cover no-repeat url("./assets/images/wolf1.jpeg");
    background-position-x: 60%;
}

.image-wrapper2 {
    background: center / cover no-repeat url("./assets/images/wolf2.jpeg");
    background-position-x: 80%;
}

.image-wrapper3 {
    background: center / cover no-repeat url("./assets/images/wolf3.jpeg");
    background-position-x: 40%;
}

.image-wrapper4 {
    background: center / cover no-repeat url("./assets/images/wolf4.jpeg");
    background-position-x: 80%;
}

.image-wrapper5 {
    background: center / cover no-repeat url("./assets/images/wolf5.jpeg");
}

.image-wrapper6 {
    background: center / cover no-repeat url("./assets/images/wolf6.jpeg");
}

/* tablet */
@media screen and (min-width: 820px) and (min-height: 820px)  {
    .bayan-container {
        font-size: 28px;
	    font-weight: 200;
    }

    .segment-container {
        height: 50px;
    }

    input:checked + .segment-container {
        height: 612px;
    }

    .image-wrapper {
        width: 100%;
        height: 554px;
    }

    .image-wrapper4 {
        background-position-y: 10%;
    }
}

/* desktop */
@media screen and (min-width: 1920px) and (min-height: 1080px) {
    .bayan-container {
        font-size: 36px;
	    font-weight: 200;
    }

    .segment-container {
        height: 54px;
    }

    input:checked + .segment-container {
        height: 1146px;
    }

    .icon-wrapper {
        opacity: 0;
    }

    .bayan-container {
        cursor: pointer;
    }

    .bayan-container:hover .segment-container .icon-wrapper {
        opacity: 1;
    }

    .segment-container {
        cursor: pointer;
    }

    .segment-container:hover {
        height: 1146px;
    }

    .segment-container:hover .icon-wrapper {
        transform: rotate(0);
    }

    .header-container {
        cursor: pointer;
    }

    label {
        cursor: pointer;
    }

    .image-wrapper {
        width: 100%;
        height: 1080px;
    }

    .image-wrapper:hover {
        border: 1px solid #081623;
    }
}
